.todoListMain .header input{
    width: 460px;
    border: 3px solid skyblue;
    padding: 15px;
    margin-left: 10px;
}

.todoListMain .header button{
    background-color: #00FF62;
    border: 2px solid grey;
    padding: 15px;
    margin-top: 30px;
    margin-left: 135px;
    width: 250px;
}
.todoListMain .header .title{
    color: lavenderblush;
    margin-bottom: 30px;
    font-size: 35px;
}

.todoListMain .header button:hover{
    background-color: goldenrod;
    border: 2px solid grey;
    padding: 15px;
}

.todoListMain .theList li {
    color: #333;
    background-color: rgba(143, 153, 4, 0.945);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
